.banner {
  background-color: gray;
  height: auto;
  width: auto;
}

.banner-img img {
  width: 45%;
  height: auto;
  @media (max-width: 768px) {
    width: 65%;
  }
  @media (max-width: 426px) {
    width: 100%;
  }
}
