.product-name {
  text-decoration: none;
  color: #0e0000;
}
.card-product {
  overflow: hidden;
  background: #f5f5f5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.2s;
}

.card-product:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.card-product img {
  max-height: 120px;
  max-width: 120px;
  object-fit: contain;
  padding: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.category-text {
  white-space: nowrap;
  overflow: hidden;
}

.secondary-button {
  background-color: #88bbdd;
  border-radius: 8px;
}

.secondary-button:hover {
  background-color: #7daaca;
}

.secondary-button-list:hover {
  background-color: #7daaca;
}

.dropdown-menu {
  border-radius: 8px;
  padding: 1rem;
  white-space: nowrap;
}
