.category-text {
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: white;
}

.secondary-button {
  background-color: #88bbdd;
  border-radius: 8px;
  max-height: 2.3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.secondary-button:hover {
  background-color: #7daaca;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.secondary-button-list:hover {
  background-color: #7daaca;
  border-radius: 8px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  visibility: hidden;
  max-width: calc(100vw - 2rem);
  overflow: auto;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
