.product-name {
  text-decoration: none;
  color: #0e0000;
}
.card-product {
  overflow: hidden;
  background: #f5f5f5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.2s;
}

.card-product:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.card-product img {
  max-height: 120px;
  max-width: 120px;
  object-fit: contain;
  padding: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.category-text {
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: white;
}

.secondary-button {
  background-color: #88bbdd;
  border-radius: 8px;
  max-height: 2.3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.secondary-button:hover {
  background-color: #7daaca;
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.secondary-button-list:hover {
  background-color: #7daaca;
}

.dropdown-menu {
  border-radius: 8px;
  padding: 1rem;
  white-space: nowrap;
  display: block;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  visibility: hidden;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

body {
  overflow-x: hidden;
}
