.home-btn {
  background-color: #88bbdd;
  border: 1px solid #88bbdd;
  border-radius: 40px;
  width: 100%;
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  cursor: pointer;
}

.home-btn:hover {
  background-color: #7daaca;
}
