// Import page-specific CSS files here.
@import "category";
@import "product_show_page";
@import "cart_button";
@import "favorite_button";
@import "product_detail_image";
@import "product_name";
@import "quantity_button";
@import "product_rating";
@import "product_review";
@import "size_button";
@import "divider_line";
@import "products_image";
@import "products_detail";
@import "products_link";
@import "products_name";
@import "products_price";
@import "view_all_button";
@import "carousel";
@import "banner";
// TODO: refactor all the scss files for better reading and ease to find
