.product-info {
  background-color: #f5f5f5;
}

.product-info img {
  max-height: 400px;
  max-width: 400px;
  object-fit: contain;
  padding: 10px;
}

.product-name {
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.add-to-cart-button {
  background-color: #88bbdd;
  width: 100%;
  border-radius: 20px;
}

.add-to-wishlist-button {
  background-color: #a8dadc;
  width: 100%;
  border-radius: 20px;
}
