.product-image {
  background-color: #a1a1a1;
  border-radius: 12px;
  min-width: 23rem;
  min-height: 20rem;
  max-width: 23rem;
  max-height: 20rem;
}

.product-image img {
  max-height: 18rem;
  max-width: 18rem;
  width: auto;
  padding: auto;
  object-fit: contain;
}

.product-info {
  background-color: #f5f5f5;
}

.product-name {
  color: #000000;
  font-weight: bold;
}

.add-to-cart-button {
  background-color: #88bbdd;
  border-radius: 20px;
}

.add-to-cart-button:hover {
  background-color: #6f99b6;
}

.add-to-wishlist-button {
  background-color: #a8dadc;
  border-radius: 20px;
}

.add-to-wishlist-button:hover {
  background-color: #93bec0;
}

.review {
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 16px;
}
