.products-image {
  background-color: $product-bg-gray;
  border-radius: 12px;
  min-width: 20rem;
  min-height: 20rem;
  max-width: 20rem;
  max-height: 20rem;
}

.products-image img {
  max-height: 15rem;
  max-width: 15rem;
  object-fit: contain;
}
