// Image
.product-image {
  background-color: #eceae9;
  border-radius: 12px;
  min-width: 23rem;
  min-height: 20rem;
  max-width: 23rem;
  height: 25rem;
  position: relative;
}

.product-image img {
  max-height: 18rem;
  max-width: 18rem;
  width: auto;
  padding: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .product-image {
    position: sticky;
    top: 2rem;
    align-self: flex-start;
  }
}
