<div class="d-flex align-items-center justify-content-center pt-3">
  <%= link_to products_path, class: "text-decoration-none text-black" do %>
    <button class="all-btn"><%= text %></button>
  <% end %>
</div>