// Add to favorite button
.add-to-favorites-button {
  background-color: #a8dadc;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.add-to-favorites-button:hover {
  background-color: #93bec0;
}

.red-heart {
  color: #e24949;
}
