// Size buttons
.size-btn {
  border-radius: 20px;
  border: none;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.2rem;
}

.unselected {
  color: #1d1d1d;
  background-color: #a8dadc;
  cursor: pointer;
  // transition: all 0.3s;
  // box-shadow:
  //   6px 6px 12px #c5c5c5,
  //   -6px -6px 12px #ffffff;
}

.selected {
  color: #ffffff;
  background-color: #457b9d;
  // box-shadow:
  //   inset 4px 4px 12px #c5c5c5,
  //   inset -4px -4px 12px #ffffff;
}
