<div class="container my-3">
  <%# TODO: Make partial of carousel and change on index view as well %>
  <%# New Arrivals %>
  <div class="pt-3">
    <div class="d-flex align-items-center justify-content-center p-3 pb-5">
      <h1 class="montserrat-bold">NEW ARRIVALS</h1>
    </div>
    <%# Partial of Carousel of New Arrivals %>
    <%= render partial: 'shared/carousel', locals: { products: @new_arrivals } %>
    <%# Button to All products %>
    <div class="d-flex align-items-center justify-content-center pt-3">
      <%= link_to products_path, class: "products-link" do %>
        <button class="home-btn">View All</button>
      <% end %>
    </div>
  </div>
  <%# Divider Line %>
  <div class="divider-line"></div>
  <%# Hot Items %>
  <div class="pt-3">
    <div class="d-flex align-items-center justify-content-center p-3 pb-5">
      <h1 class="montserrat-bold">HOT ITEMS</h1>
    </div>
    <%# Partial of Carousel of Hot Items %>
    <%= render partial: 'shared/carousel', locals: { products: @hot_items } %>
    <%# Button to All products %>
    <div class="d-flex align-items-center justify-content-center pt-3">
      <%= link_to products_path, class: "products-link" do %>
        <button class="home-btn">View All</button>
      <% end %>
    </div>
  </div>
</div>