.navbar-lewagon {
  justify-content: space-between;
  background: #fafafa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link a {
  text-decoration: none;
  color: #575757;
}

.shoople-text {
  font-family: "Varela Round", "Rubik", "Arial Rounded MT Bold", sans-serif;
  font-weight: bolder;
  color: #87c1de;
  font-size: 2.5em;
}
