.navbar-lewagon {
  justify-content: space-between;
  background: #fafafa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link a {
  text-decoration: none;
  color: #575757;
}
