.navbar-lewagon {
  justify-content: space-between;
  background: #fafafa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  max-width: 64px;
}

.nav-link a {
  text-decoration: none;
  color: #575757;
  font-size: 22px;
}

.shoople-text {
  font-family: "Varela Round", "Rubik", "Arial Rounded MT Bold", sans-serif;
  font-weight: bolder;
  color: #87c1de;
  font-size: 2em;
}

.dropdown-item:hover {
  background-color: #7daaca;
  border-radius: 8px;
}

.danger:hover {
  background-color: #ca7d7d;
}
