<h1>Testing</h1>
<p>Testing to see if root became this page</p>
<p>You can find this file in /home/pedro/code/pqdesu/shopple/app/views/products/index.html.erb</p>
<% @products.each do |product| %>
  <p><%= product.name %></p>
  <p><%= product.price %>$</p>
  <p><%= product.category.name.capitalize %></p>
<% end %>